TWILIO_ACCOUNT_SID="ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

TWILIO_AUTH_TOKEN ="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

FILE_PATH="data.csv"

FILE_OUTPUT="newData.csv"

IS_MOCK="true"

PRIMARY_CUSTOMER_PROFILE="BUXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

UPDATE_FILE="update.csv"

UPDATE_FILE_OUTPUT="updateOutput.csv"